* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    transition: background-color 0.3s;
}

body.darkmode {
    background-color: #282828;
}

body.darkmode *:not(.cell, h1, footer) {
    background: #282828;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    text-align: center;
    align-self: start;
    background-color: crimson;
    padding: 0.5rem;
}

h1 ~ div {
    margin: auto;
}

.game-container {
    display: grid;
    gap: 5px;
    justify-content: center;
    font-size: 2.5rem;
    max-width: 440px;
}

.game-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.5rem;
    font-family: monospace;
}

.game-container .info>* {
    background-color: black;
    color: red;
    padding: 0.5rem;
    width: 8rem;
    text-align: center;
}

.btn {
    background: #00a9e9;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 1em;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: inset 0px 0px 5px 3px white;
}

.btn-safe {
    background: #00a9e9;
}

.btn-manual {
    background: orange;
}

.btn-darkmode {
    place-self: center;
    background: #fe0033;
}

.btn-exterminate {
    place-self: center;
    background: #00a9e9;
}

.btn-mega {
    background: #fe0033;
}

.top-bar {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.lives-list,
.hints-list {
    display: flex;
}

.smiley {
    border: 1px solid black;
    width: max-content;
    height: fit-content;
    padding: 0.5rem;
    cursor: pointer;
}

.hints-list .hint {
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
    transition: 0.3s;
}

.hints-list .hint:hover {
    box-shadow: inset 0 0 5px 1px #eb1642;
}

.levels-list, .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    text-align: center;
}

.levels-list >*:nth-child(1) {
    background: green;
}

.levels-list >*:nth-child(2) {
    background: orange;
}

.levels-list >*:nth-child(3) {
    background: #fe0033;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: monospace;
    place-self: center;
    margin: 0 auto
}

.cell {
    width: clamp(50px, 8vw, 70px);
    height: clamp(50px, 8vw, 70px);
    border: 1px solid black;
    text-align: center;
    font-size: clamp(0.9rem, 3vw, 2rem);
    background-color: lightgray;
    cursor: pointer;
    transition: 0.3s;
}

.board.manual .cell {
    cursor: cell;
    box-shadow: inset 0px 0px 7px 2px orange;
}

.board.mega-hint .cell {
    cursor: crosshair;
    box-shadow: inset 0px 0px 3px 1px #fe0033;
}

.cell.shown {
    background-color: gray;
}

.cell.shown.mine {
    background-color: red;
}

.cell.blown {
    box-shadow: inset 0px 0px 7px 2px orange;
}

.cell.highlight {
    background-color: rgb(207, 198, 23, 0.3);
    box-shadow: inset 0px 0px 12px 13px rgb(17, 161, 213);
    scale: 1.02;
}

.cell:hover {
    opacity: 0.5;
}

.score {
    text-align: center;
}

.score span {
    color: #fe0033;
}

.selected {
    box-shadow: inset 0 0 10px 5px #fe0033 !important;
}

footer {
    align-self: end;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: crimson;
}

footer img {
    width: 30px;
    border-radius: 50%;
}

button:disabled {
    opacity: 0.4;
    pointer-events: none;
}